    <div class="{{class}}">
      <div class="row">
        <div class="col-sm-6">
          <img src="static/{{{img}}}" {{{imgCurve}}} class="headerImg img-responsive">
        </div>
        <div class="col-sm-6">
          <h2>{{{header}}}</h2>
          <!--lead makes the main body text a little better-->
          <p class="lead">{{{paragraph}}}</p>
        </div>
      </div>
      <p class="btn-group">
        <!-- the btn class has a lot of feature classes for buttons-->
        <a class="btn btn-success btn-lg" data-toggle="modal" href="#textModal">{{{buttonText}}}</a>
      </p>
    </div>
