<div class="col-md-12 hidden-xs"><!-- first item in second row, hidden for x-small devices  -->
  <h3>{{{row2.header}}}</h3>
  <p>{{{row2.paragraph}}}</p>
  <div class="row"><!-- nested row in the first item -->

    <div class="col-sm-6">
      <img style="min-width:300px" class="img-responsive" src="static/{{{row2.img}}}">
    </div>

    <div style="padding-top: 30px" class="col-sm-6">
      <p>{{{row2.linkHeader}}}</p>
      <a href="#">{{{row2.buttonText}}}</a>
    </div>

  </div><!--end of nested row in the first item -->

</div><!--end of first item in second row  -->
